<div class="shortener-container">
  <div class="shortener-card">
    <h2>Shorten your long links</h2>
    
    <form class="shortener-form" [formGroup]="urlForm" (ngSubmit)="onSubmit()">
      <input 
        type="url" 
        placeholder="Paste your long URL here..." 
        required
        formControlName="originalUrl"
      >
      <button type="submit" class="shorten-button">Shorten URL</button>
    </form>

    @if ((shortenedUrl | async) && (shortenedUrl | async) != 'error:401') {
      <div class="result-container">
        <p>Your shortened URL:</p>
        <div class="result-box">
          <a [href]="shortenedUrl | async" target="_blank">{{ shortenedUrl | async}}</a>
          <button class="copy-button" (click)="copyUrl()">Copy</button>
        </div>
      </div>
    }
    @if ((shortenedUrl | async) == 'error:401'){
      <div>
        <h1>You are not authorized</h1>
        <p>Sorry, you have to log in to create short urls.</p>
      </div>
    }
  </div>
</div>
@if (showToast | async) {
  <div class="toast-notification">Link copied!</div>
}